<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="support/css/main.css">
    <title>Your Website</title>
</head>
<body>
    <header>
        <a href="/main"> <img id="logo" src="images/pfp2.png" alt="Money Buddy Logo"> </a>
        <a href="/login"> <h1 id="hello">Sign In to continue</h1> </a>
        <a id="signbtn" href="/login">Sign In</a>
        <nav>
            <a id="homebtn" href="/main">Home</a>
            <a href="/goals">Financial Goals</a>
            <a href="/expenses">Budget Tracking</a>
            <a href="/analytics" class="bold">Expense Analytics</a>
        </nav>
    </header>
</body>
</html>