<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="support/css/main.css">
    <title>Your Website</title>
</head>
<body>
    <header>
        <a href="/main"> <img id="logo" src="images/pfp2.png" alt="Money Buddy Logo"> </a>
        <a href="/main"> <h1 id="hello">Hello, {{.Username}}!</h1> </a>
        <a id="signbtn" href="/logout">Sign Out</a>
        <nav>
            <a id="homebtn" href="/main">Home</a>
            <a id="goalsbtn" href="/goals">Financial Goals</a>
            <a id="trackbtn" href="/expenses">Budget Tracking</a>
            <a id="analyticsbtn" href="/analytics">Expense Analytics</a>
        </nav>
    </header>
</body>
</html>