:root {
    --top0CSS: 0%; 
    --top1CSS: 0%;
    --top2CSS: 0%;
    --top3CSS: 0%;
    --otherCSS: 0%;
    --fullCSS: 0%;
}

#analyticsbtn {
    font-weight: bold;
    font-size: 1.1vw;
    background-color: #ffffff;
    color: #310B0B;}

.stats {
    position: absolute;
    top: 33%;
    left: 15%;
    transform: translateX(-50%);
    width: 20vw;
}

#totalInc {color: green;
    font-weight: bold;}

#totalSpent{color: red;
    font-weight: bold;}

#bananamath {color:#bda102}

#hidden_info {
display: none;
text-align:end;
}

#info_hover:hover + #hidden_info {
    display: block;
}

.pie-chart {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background: conic-gradient(
        #03506F 0% var(--otherCSS),
        #ec9c9d var(--otherCSS) var(--top0CSS),
        #fcc983 var(--top0CSS) var(--top1CSS),
        #C7DCA7 var(--top1CSS) var(--top2CSS),
        #89B9AD var(--top2CSS) var(--top3CSS)
        );
    
}


#legend {
    position: absolute;
    top: 31.9%;
    right: 15%;
    transform: translateX(50%);
    width: 20vw;
}
/* 
#ch3 { text-align: center;}
new categories should appear here as well 
#food_c {color: #00B28B;font-weight: bold;}
#bills_c {color: #FF6347;font-weight: bold;}
#transport_c {color: blueviolet;font-weight: bold;}