:root {
    --top0CSS: 0%; 
    --top1CSS: 0%;
    --top2CSS: 0%;
    --top3CSS: 0%;
    --otherCSS: 0%;
    --fullCSS: 0%;
}

#analyticsbtn {
    font-weight: bold;
    font-size: 1.1vw;
    background-color: #ffffff;
    color: #310B0B;}

.stats {
    position: absolute;
    top: 33%;
    left: 15%;
    transform: translateX(-50%);
    width: 20vw;
}

#totalInc {color: green;
    font-weight: bold;}

#totalSpent{color: red;
    font-weight: bold;}

#bananamath {color:#bda102}

#hidden_info {
display: none;
text-align:end;
}

#info_hover:hover + #hidden_info {
    display: block;
}

.pie-chart {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background: conic-gradient(
        #ec9c9d 0% var(--fullCSS),
        #03506F 0% var(--otherCSS),
        #ec9c9d var(--otherCSS) var(--top0CSS),
        #fcc983 var(--top0CSS) var(--top1CSS),
        #bfcea9 var(--top1CSS) var(--top2CSS),
        #89B9AD var(--top2CSS) var(--top3CSS)
        );
}

#legend {
    position: absolute;
    top: 31.9%;
    right: 15%;
    transform: translateX(50%);
    width: 20vw;
}

#h3 { text-align: center;}
#other {color: #03506F;font-weight: bold;}
#name0 {color: #ec9c9d;font-weight: bold;}
#name1 {color: #fcc983;font-weight: bold;}
#name2 {color: #bfcea9;font-weight: bold;}
#name3 {color: #89B9AD;font-weight: bold;}

@media only screen and (max-width: 768px) {

    main p, main b, main i, main h3, main span{
        font-size: 2.5vw;
    }
    
    #analyticsbtn {
        font-size: 3vw;
        padding: 1.5% 2.5%;
        min-width: 15vw;
        border-radius: 2vw;
    } 

    .stats {
        width: 21vw;
        margin-top: -7vw;   
    }

    .pie-chart {
        width: 35vw;
        height: 35vw;
        margin-top: 10vw;
    }

    #legend {
        margin-top: -1.3vw;
        top: 30%;
        right: 15%;
        width: 21vw;
    }
}