:root {
    --top1CSS: 0%; 
    --top2CSS: 0%;
    --top3CSS: 0%;
    --top4CSS: 0%;
    --otherCSS: 0%;
    --fullCSS: 0%;
}

.stats {
    position: absolute;
    top: 33%;
    left: 15%;
    transform: translateX(-50%);
    width: 20vw;
}

#totalInc {color: green;
    font-weight: bold;}

#totalSpent{color: red;
    font-weight: bold;}

#bananamath {color:#bda102}

#hidden_info {
display: none;
text-align:end;
}

#info_hover:hover + #hidden_info {
    display: block;
}

.pie-chart {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background: conic-gradient(
        #43766C 0% var(--fullCSS)
       /* #E2703A 0% var(--foodCSS),
        #9C3D54 var(--foodCSS) var(--billsCSS),
        #351F39 var(--billsCSS) 100% */
        
    );
}

#legend {
    position: absolute;
    top: 31.9%;
    right: 15%;
    transform: translateX(50%);
    width: 20vw;
}

#ch3 { text-align: center;}
/* new categories should appear here as well */
#food_c {color: #00B28B;font-weight: bold;}
#bills_c {color: #FF6347;font-weight: bold;}
#transport_c {color: blueviolet;font-weight: bold;}