#trackbtn {
  font-weight: bold;
  font-size: 1.1vw;
  background-color: #ffffff;
  color: #310B0B;}

.tracker_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

#open_plusModal {
  background-color: #fff;
  color: #43766C;
  display: inline-block;
  font-size: 2em;
  width: 5vw;
  height: 5vw;
  border: 0.2vw solid #43766C;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 3vw;
  transition: all 0.3s ease;
}

#open_plusModal:hover {
  background-color: #43766C;
  color: #fff;
}

#open_minModal {
  background-color: #fff;
  color: #BF3131;
  display: inline-block;
  font-size: 2em;
  width: 5vw;
  height: 5vw;
  border: 0.2vw solid #BF3131;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 3vw;
  transition: all 0.3s ease;
}

#open_minModal:hover {
  background-color: #BF3131;
  color: #fff;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.modal-content {
  display: inline-block;
  background-color: #fefefe;
  margin-top: 10%;
  border-radius: 1vw;
  padding: 3%;
  border: 5% solid #888;
  width: 80%;
  max-width: 30%; 
  box-shadow: 0 4% 8%  rgba(0, 0, 0, 0.2);
  position: relative;
}

input[type="number"],
input[type="text"] {
    width: 8em;
    padding: 0.5em 0.8em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    font-size: 0.9rem;
    outline: none;
    transition: border-color 0.3s;
}

input[type="number"]:focus,
input[type="text"]:focus {
    border-color: #007bff;
}


.close {
  color: red;
  float: right;
  font-size: 1.5vw;
  font-weight: bold;
  position: absolute;
  top: 10%;
  right: 5%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* transactions table */
.transactions-container {
  margin-top: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#transact {
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
}

#transact th, #transact td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#transact th {
  background-color: #f2f2f2;
}

#transact tr:nth-child(even) {
  background-color: #f2f2f2;
}

#transact tr:hover {
  background-color: #ddd;
}

@media only screen and (max-width: 768px) {
  #trackbtn {
    font-size: 3vw;
    padding: 1.5% 2.5%;
    min-width: 15vw;
    border-radius: 2vw;
} 

#open_plusModal {
  font-size: 5.3em;
  width: 13.3vw;
  height: 13.3vw;
  border: 0.53vw solid #43766C;
  margin-right: 5vw;
}

#open_minModal {
  font-size: 5.3em;
  width: 13.3vw;
  height: 13.3vw;
  border: 0.53vw solid #BF3131;
  margin-left: 5vw;
}

.modal-content {
    margin-top: 30%;
    font-size: 3vw;
    width: 90%; /* Adjust as needed */
    max-width: 80%; /* Adjust as needed */
  }

input[type="number"],
input[type="text"] {
    width: 4em;
    padding: 0.1em 0.4em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    font-size: 0.9rem;
    outline: none;
    transition: border-color 0.3s;
}

.close {
  font-size: 4vw;
}

.transactions-container {
  font-size: 3vw;
}

#transact {
  width: 80%;
}
}