<!DOCTYPE html>
<html lang="en">

<head>
    <!--This is necessary to avoid "http://localhost:8000/favicon.ico [HTTP/1.1 404 Not Found 0ms]" error-->
    <link rel="shortcut icon" href="#"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="support/css/main.css">
    <link rel="stylesheet" href="support/css/analytics.css">
    <script src="support/js/jquery.js"></script>
    <script src="support/js/main.js"></script>
    <script src="support/js/analytics.js"></script>
    <title>Money Buddy</title>
</head>

<body>
    <div id="includedheaderacc"></div>

    <main>
        <h2 id="title">Expense Analytics</h2>

        <!--pie chart-->
        <div class="pie-chart-container">

            <div class="pie-chart"></div>
            
            <div id="legend"> 
                <h3 id="h3">Pie Chart Legend</h3>
                <span id="noexpenses"></span>
                <p id="category0"><span id="name0"> </span>: <span id="amount0"></span>$</p>
                <p id="category1"><span id="name1"> </span>: <span id="amount1"></span>$</p>
                <p id="category2"><span id="name2"> </span>: <span id="amount2"></span>$</p>
                <p id="category3"><span id="name3"> </span>: <span id="amount3"></span>$</p>
                <p id="other">Other: <span id="amountother"></span>$</p>
            </div>
        </div>
        
            <!--totals-->
            <div class="stats">
                <p><b>Total Income: </b><span id="totalInc"></span>$</p>
                <p><b>Total Spent: </b><span id="totalSpent"></span>$</p>
                <p><i>You could buy <b><span id="bananamath"></span></b> bananas for that amount of money!</i></p>
                <span id="info_hover"><b>why?</b></span>
                <span id="hidden_info"><i>if 1 banana = 0.6$</i></span>
            </div>
    </main>

    <div id="includedfooter"></div>

    <script>
        
    </script>
</body>
</html>