<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="support/style.css">
    <script src="support/jquery.js"></script>
    <script src="support/main.js"></script>
    <title>Money Buddy</title>
</head>

<body>
    
    <div id="includedheader"></div>

    <main>
        <h2 id="title">Expense Analytics</h2>

        <!--pie chart-->
        <div class="pie-chart"></div>
        
        <!--Bar Chart-->
        <div class="barchart-container">
            <!--totals-->
            <div class="stats">
                <p><b>Total Income: </b><span id="totalInc">{{.Income}}$</span></p>
                <p><b>Total Spent: </b><span id="totalSpent">{{.Expenditure}}$</span></p>
                <p><i>You could buy <b><span id="bananamath"></span></b> bananas for that amount of money!</i></p>
                <span id="info_hover"><b>why?</b></span>
                <span id="hidden_info"><i>if 1 banana = 0.5$</i></span>
            </div>
            
            <button onclick="toggleVisibility()" id="tglbtn"><b>Bar Chart ⌄</b></button>
            <div class="barchart hidden" id="hiddenText">
                <p>barchart will appear here</p>
            </div>
        
        <div id="legend"> 
            <h3 id="ch3">Pie Chart Legend</h3>
            <p><span id="top1">{{.Category1.Name}}: </span> {{.Category1.Amount}}$</p>
            <p><span id="top2">{{.Category2.Name}}: </span> {{.Category2.Amount}}$</p>
            <p><span id="top3">{{.Category3.Name}}: </span> {{.Category3.Amount}}$</p>
            <p><span id="top4">{{.Category4.Name}}: </span> {{.Category4.Amount}}$</p>
            <p><span id="other">Other: </span> {{.Category5.Amount}}$</p>
        </div>
    </main>

    <div id="includedfooter"></div>

</body>
</html>