<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="support/style.css">
    <script src="support/jquery.js"></script>
    <script src="support/main.js"></script>
    <title>Money Buddy</title>
    
</head>

<body>

    <div id="includedheader"></div>

    <main>
        <h2 id="title">Budget Tracking</h2>
        <p>Budget tracking info displayed here.</p>
    </main>

    <div id="includedfooter"></div>

</body>

</html>
