<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="support/css/main.css">
    <link rel="stylesheet" href="support/css/goals.css">
    <script src="support/js/jquery.js"></script>
    <script src="support/js/main.js"></script>
    <title>Money Buddy</title>
</head>

<body>
    
    <div id="includedheader"></div>

    <main>
<!-- This 
        <div class="progress-bar"> 
            <label for="bar">Your Progress</label>
            <progress id="bar" value="{{.PiggyBank.Balance}}" max="{{.PiggyBank.TargetAmount}}"></progress>    
        </div> -->

        <div class="progress-bar-container">
            <div class="banana-image-container">
                <img src="images/gbanana.png" id="image1" class="banana_image">
                <img src="images/banana.png" id="image2" class="banana_image">
            </div>         
        </div>

        <div class="tracker">
            <h2 id="title">Your Piggy Bank</h2>
            <p>Target Amount: <span id="targetAmount">{{.PiggyBank.TargetAmount}}{{.Currency}}</span></p>
            <p>Target Date: <span id="targetDate">{{.PiggyBank.TargetDate}}</span></p>
            <p>Balance: <span id="balance">{{.PiggyBank.Balance}}{{.Currency}}</span></p>
        </div>

        <div class="form-container">
            <form id="Form" method="post" action="/goalssave"> <!--form for go opens-->
            <h3>Add to Piggy Bank</h3>
                <label for="amount">Amount:</label>
                <input type="text" id="amount" name="amount">

            <h3>Adjust Targets</h3>
            
                <label for="newAmount">New Target Amount:</label>
                <input type="text" id="newAmount" name="newAmount">
                <label for="newDate">New Target Date:</label>
                <input type="text" id="newDate" name="newDate" >
                <p><br>Date has to be in a YYYY-MM-DD format</p>
                <!--01/02 03:04:05PM '06 -0700 format (January 2, 15:04:05, 2006, in time zone seven hours west of GMT)-->
                <button type="submit" onclick="change_opacity()"> Save changes</button>

            </form> <!--form for go closes-->
        </div>
    </main>

    <div id="includedfooter"></div>

</body>

</html>