<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="support/css/main.css">
    <link rel="stylesheet" href="support/css/welcome.css">
    <title>Money Buddy</title>
</head>

<body>
    <main>
        <div class="content">
            <h1>Welcome to Money Buddy!</h1>
            <p class="tagline">Discover financial empowerment with Money Buddy - your trusted partner in budget management. Seamlessly track your income, manage expenses, and set personalized financial goals. Our user-friendly platform provides tailored insights, ensuring a secure and private space for your financial journey. Join Money Buddy today and take control of your money with simplicity and confidence.</p>
            <div class="buttons">
                <a href="#" class="button">Sign In</a>
                <a href="#" class="button">Sign Up</a>
            </div>
        </div>
    </main>

    <div id="includedfooter"></div>
</body>

</html>
