<html lang="en">

<head>
    <!--This is necessary to avoid "http://localhost:8000/favicon.ico [HTTP/1.1 404 Not Found 0ms]" error-->
    <link rel="shortcut icon" href="#"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="support/css/welcome.css">
    <script src="support/js/jquery.js"></script>
    <script src="support/js/main.js"></script>
    <title>Money Buddy</title>
</head>

<body>

    <div class="welcome-page-container">

        <div class="title-container">
            <p>Welcome to Money Buddy!</p>
        </div>

        <div class="description-container">
            <i>
            <p>Seamlessly track your income, manage expenses, and set personalized financial goals</p>
            <p>Our user-friendly platform provides tailored insights, ensuring a secure and private space for your financial journey</p></i>
        </div>
        <div class="buttons-container">
            <p><b>Join Money Buddy today and take control of your money with simplicity and confidence!</b></p>
            <div class="button-group">
                <a id="signinbtn" href="/login">Sign In</a>
                <a id="signupbtn" href="/register">Sign Up</a>
            </div>
        </div>
    </div>

    <div class="image-container">
        <img src="images/pfp2.png" alt="Money Buddy Logo">
    </div>

        

</body>

</html>