<!DOCTYPE html>
<html lang="en">

<head>
    <!--This is necessary to avoid "http://localhost:8000/favicon.ico [HTTP/1.1 404 Not Found 0ms]" error-->
    <link rel="shortcut icon" href="#"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="support/css/main.css">
    <script src="support/js/jquery.js"></script>
    <script src="support/js/main.js"></script>
    <title>Money Buddy</title>
</head>

<body>

    <div id="includedheader"></div>
    
    <main>
        <h2 id="title">About Money Buddy</h2>
        <p>Discover financial empowerment with Money Buddy - your trusted partner in budget management. Seamlessly track your income, manage expenses, and set personalized financial goals. Our user-friendly platform provides tailored insights, ensuring a secure and private space for your financial journey. Join Money Buddy today and take control of your money with simplicity and confidence.</p>
    </main>

    <div id="includedfooter"></div>
    
</body>

</html>
